<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="content">
          <div class="intro">
            <h1>Jamie Heo</h1>
            <p>Hi! I'm Jamie and I am a fullstack software developer.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="content">
          <div class="photo">
            <%= image_tag "profile.jpg", alt: "Jamie", width: 200 %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
