<div class="container-about">
  <%= render "navbar" %>
  <h1>About Me</h1>
  <div>
    <h2>Intro</h2>
    <p> Hi there! I am a former healthcare professional who has embarked on a career change to software engineering. My journey into healthcare was driven by a passion for helping people, and it provided me with a wealth of soft skills, such as effective communication, empathy, teamwork, and problem-solving.  I particularly enjoyed the operational side of healthcare, where I could implement creative solutions to improve efficiency, accuracy, and communication to benefit patients. After more than six years in the healthcare industry, I decided to pursue a career in an industry where I could take some of my skills further. Thus I am particularly enthusiastic about pursuing roles in software development and DevOps. Currently I am working as a practice manager at a private clinic to polish up my operational and leadership skills. Eventually I would like to combine my passion for software engineering and knowledge of healthcare systems to create awesome technology that will help patients and healthcare professionals alike!</p>
  </div>

  <div>
    <h2>So what can I do? </h2>
    <p> I completed a web development bootcamp with Le Wagon Melbourne in June 2023. I have developed the following skillsets:
      <ul>
        <li>Ruby on Rails</li>
        <li>Front-end design with JavaScript, CSS, HTML</li>
        <li>SQL/Postgresql</li>
        <li>Web/App Deployment with Heroku</li>
        <li>ActionCable/WebSocket</li>
        <li>Background jobs through Pundit/Sidekiq</li>
        <li>Authentication and Authorisation with Devise</li>
        <li>Parsing JSON, XML and CSV, Web Scraping with Nokogiri</li>
        <li>Encrpytion of Web/App</li>
      </ul>
      Find out more in my Projects page!
    </p>
  </div>

  <div>
    <h2>What do I enjoy outside of work?</h2>
    <p>Aside from coding I have a few passions, including hiking, reading, gardening, and cooking. I cook a lot of Korean food as I am a proud Korean (I also enjoy the eating part too). I also enjoy live music, and in my spare time you will find me attending live music events, taking a walk through a park with my dogs, or playing poker with friends. I'm also a big fan of travelling. I have a long bucket list of places to go that I have been slowly ticking off. My dream destination is Spain!</p>
  </div>
</div>
